
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <script src="#" defer></script>
    <title>Jeevan Insurance</title>
</head>
<body>
    <section class="header">
        <nav class="navbar">
            <a><img src="assets\images\jeevan--insurance-high-resolution-logo-transparent.png" class="logo"></a>
            <div class="nav-links">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </div>  
        </nav>
        <div class="text-box container">
            <h1> 
                <span>J</span>
                <span>E</span>
                <span>E</span>
                <span>V</span>
                <span>A</span>
                <span>N</span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>&nbsp;  INSURANCE</h1>
            <p style="color: whitesmoke;"></p>
            <a class="btn" href="#" target="_blank" >ENQUIRY</a>
        </div>
    </section>
    <div class="categories container">
        <h1><span>Your Health Matters to Us!</span></h1>
        <p>An All-Inclusive Mediclaim Plan with Insurance in Easy EMIs.</p>
        <div class="row">
                <div class="col">
                    <a href="#"><img src="assets\images\icons_Sum_Insured_Reinstatement_24fd6fd6f7.webp" alt=""></a>
                    <h2><span>Sum Insured Reinstatement </span>Upto 100% unlimited sum insured reinstatement in the policy year</h2>
                </div>
                <div class="col">
                    <a href="#"><img src="assets\images\icons_OPD_Benefits_1_b8a7eb30fd.webp" alt=""></a>
                    <h2><span>OPD Benefits </span>OPD Benefits

                        Doctors consultations, tele-consultations, preventive check-up & lab tests upto 2X(Twice of premium)</h2>
                </div>
                <div class="col">
                    <img src="assets\images\icons_Opt_International_Health_Cove_c3576b9ccd.webp" alt="">
                    <h2><span>International Health Cover</span>Avail hospitalization cover in case of emergencies abroad.</h2>
                </div>
            </div>
        </div>
        <div class="categories container">
            <h1><span>Benefits of Jeevan Insurance policy</span></h1>
            <p>Investing in the right family floater health insurance like the Jeevan Insurance plan for your family ensures their safety against rising medical costs, gives them access to best-in-class healthcare and helps focus on regular healthcare and wellness.
            </p>
        <div class="row container">
                <div class="col">
                    <img src="assets\images\icons_50_Cumulative_Bonus_9a75d36ede.png" alt="">
                    <h2><span style="font-size: larger;">50% Cumulative Bonus </span></h2>
                </div>
                <div class="col">
                    <img src="assets\images\icons_Affordable_Premium_ac8328cefc.png" alt="">
                    <h2><span style="font-size: larger;">Affordable Premiums </span></h2>
                </div>
                <div class="col">
                    <img src="assets\images\icons_Maternity_Care_6f96da4c62.png" alt="">
                    <h2><span style="font-size: larger;">Maternity Care</span></h2>
                </div>
            </div>
        </div>
        <div class="categories container">
            <h1><span>Why Choose Jeevan Insurance Plan? </span></h1>
    
        <div class="row container" >
                <div class="col"  >
                    <img src="#" alt="">
                    <h2 ><span style="font-size: larger;">Surrogacy Maternity Cover</span><br><br> If insured opts for surrogacy,expenses incurred for surrogate's care during pregnancy and childcare once the child is born is covered.</h2>
                </div>
                <div class="col" >
                    <img src="#" alt="">
                    <h2 ><span style="font-size: larger; ">Home Nursing Benefit</span> <br><br> Cover for post-hospitalization paid nurse care for upto 10 weeks as prescribed by doctor.</h2>
                </div>
                <div class="col" >
                    <img src="#" alt="">
                    <h2 ><span style="font-size: larger; ">Airlift Cover</span><br> <br> In case of life-threatening health scare,airlift transfer from the insured's location to the nearest hospital is covered.</h2>
                </div>
            </div>
            </div>
        
    
    <section class="marvel">
        <div class="upcoming">
            <div class="up-content container">
                <h2><span></span></h2>
                <h1></h1>
                <p></p>
                <a href="#" class="btn">Enquiry</a>
            </div>
        </div>
    </section>
    
   
    <div class="testimonial">
        <h1>Hear It From Our <span>Customers</span></h1>
        <div class="container">
            <div class="row">
                <div class="col-4" >
                    <i class="fas fa-quote-left"></i>
                    <p>Best Health insurance company in India.Best app i have ever seen. I highly recommend this to others.</p> 
                       
                   <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <img src="assets\images\user-3.png" alt="">
                    <h3>Jayashree<span>Sherekar</span></h3>
                    </div>

                    <div class="col-4" >
                        <i class="fas fa-quote-left"></i>
                       <p>I have been very happy with the way this app have been developed and handled . Thank you!</p>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <img src="assets\images\user-1.png" alt="">
                        <h3>Vrushali<span>Kudale</span></h3>
                </div>
                <div class="col-4" >
                    <i class="fas fa-quote-left"></i>
                    <p>Their customer service executives really helped me with the requirements for caim filing and were very patient with me </p> 
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <img src="assets\images\user-2.png" alt="">
                    <h3>Nandu<span>Kolhe</span></h3>
            </div>
                </div>
            </div>
        
    
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6 footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios Mobile Phone.</p>
                    <div class="app-logo">
                       <a href="https://play.google.com/store/apps/details?id=com.cjconline"> <img src="images/play-store.png" alt=""></a>
                       <a href="https://apps.apple.com/us/app/cjc-fire-and-rescue/id1452267824"> <img src="images/app-store.png" alt=""></a>
                    </div>
                </div>
                <div class="col-6 footer-col-2">
                    <a class="f-logo">
                        <h1>JEEVAN &nbsp;<span>INSURANCE</span></h1>
                    </a>
                    <p></p>
                </div>
                <div class="col-6 footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href=""> Join us</a></li>
                        <li> Blog Post</li>
                        <li> Feedback</li>
                        <li> Support us</li>
                    </ul>
                </div>
                <div class="col-6 footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright"></p>
            <p class="copyright"><a href="#">Meet our<span>Team</span></a></p>
        </div>
    </div>
    </div>
    
    </body>

</html>