<!-- <section class="header">
    <nav class="navbar">
        <a><img src="images/logo1.png" class="logo"></a>
        <div class="nav-links">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="aboutus.html">about</a></li>
                <li><a href="courses/productinfo.html">Courses</a></li>
                <li><a href="Batches/Card.html">Batches</a></li>
                <li><a href="Contact Us-1/Contact Us.html">Contact us</a></li>
            </ul>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </div>  
    </nav>
    </section> -->
